@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .servicios nav{
        padding: 0px;
    }
    .servicios ol{
        border:1px red solid;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .servicios li{
        width: 100%;
        text-align: center;
        border:1px blue solid;
        padding: 5px;
    }

}