*{
    margin:0px;
    padding: 0%;
}
img{
    width: 100%;
}

header{
    /* border:1px red solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; 
}
header figure{
    max-width: 120px;
    padding: 5px 15px;
}

.menu_hotel{
    /* border:1px red solid; */
    border: 1px red solid;
    background-color:  rgb(44, 111, 189);
    z-index: 2;
}
.menu_hotel form{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

#destiny_box{
    position: relative;
    border: 1px red solid;
}
.no-show{
    display: none !important;
}
.yes-show{
    display: inline-block;
}
#lorem{
    position: relative;
}
#selectResult{
    position: absolute;
    width: 96% !important;
    left: 1rem;
    bottom: -6.3em !important;
    z-index: 1;
}
.index_waves {
    background: url("http://www.iroot.com/static/img/index_waves.png") center 0 no-repeat;
  }
  .wave3 {
    height: 427px;
    width: 2402px;
    background-position: 0 0;
  }
  .wave2 {
    height: 427px;
    width: 2402px;
    background-position: 0 -427px;
  }
  .wave1 {
    height: 427px;
    width: 2402px;
    background-position: 0 -854px;
  }
  @keyframes wave {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(-80px, 30px);
    }
    100% {
      transform: translate(160px, -60px);
    }
  }
  footer{
      overflow: hidden;
      box-sizing: border-box;
  }
  .waves {
    position: absolute;
    bottom: -200px;
    height: 527px;
    width: 100%;
    overflow: hidden;
  }
  .waves > div {
    position: absolute;
    left: -180px;
    bottom: 0;
  }
  .waves .wave1,
  .waves .wave2,
  .waves .wave3 {
    animation: wave 5s ease-in-out alternate infinite;
  }
  .waves .wave2 {
    animation-delay: 0.6s;
  }
  .waves .wave3 {
    animation-delay: 1.2s;
  }

  .labelMin{
      position: absolute;
      font-size: 13px;
      margin-left: 2.6rem;
      color: darkgray;
  }
  .labelMin2{
      margin-left: 2.3rem;
  }
  .innerIcon{
    position: absolute;
    bottom: .7em !important;
    left: 1.4em !important;
    font-size: 1.2rem;
    color: darkgray;
  }
  .formMy{
      display: flex;
      flex-wrap: wrap;
  }
  .checks, .bxSearch{
    padding-top: 1rem !important;
    height: 3em !important; 
    padding-left: 2em !important;
  }
  .selPad{
      padding-left: 2.2em !important;
  }
  .aaa{
      /* contenedor del checkout */
      margin-bottom: 1em;
  }
  .bxSearch{
    height: 2.4em !important; 
  }